target
.project
.settings
.classpath
nbactions.xml
nb-configuration.xml
.DS_Store
.metadata
.recommenders

# Intellij
.idea/
*.iml
*.iws
*~
/bin/

# Node JS
node_modules/

# Ignore files/folders generated as part of the webpack build process too
*.min.js*
*.min.css*
*.min.*.js*
*.min.*.css*
*.map
nifi-registry-core/nifi-registry-web-ui/src/main/index.html
nifi-registry-core/nifi-registry-web-ui/src/main/coverage
nifi-registry-core/nifi-registry-web-ui/src/main/assets
nifi-registry-core/nifi-registry-web-ui/src/main/*.png
nifi-registry-core/nifi-registry-web-ui/src/main/.cache-loader*
