target
.project
.settings
.classpath
nbactions.xml
nb-configuration.xml
.DS_Store
.metadata
.recommenders

# Intellij
.idea/
*.iml
*.iws
*~

/bin/

# Node JS
node_modules/

*.min.js
*.min.css
*.min.*.js
*.min.*.css
*.map
nifi-registry-core/nifi-registry-web-ui/src/main/index.html
nifi-registry-core/nifi-registry-web-ui/src/main/coverage
nifi-registry-core/nifi-registry-web-ui/src/main/.cache-loader
