/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* Begin Global Variables */

/* Text */

$fontPrimary: "Roboto",
sans-serif;
$fontSecondary: "Robot Slab",
sans-serif;
$fontMedium: "Roboto Medium",
sans-serif;
$fontLight: "Roboto Light",
sans-serif;

/* Define colors */

$grey1: #333333;
$grey2: #666666;
$grey3: #999999;
$grey4: #CCCCCC;
$grey5: #EEEEEE;
$grey6: #F5F5F5; // or #FAFAFA
$grey7: #DDDDDD;
$grey8: #CFD3D7;
$grey9: #b2b8c1;
$grey10: #dbdee2;
$blue1: #1491C1;
$blue2: #E7f6Fc;
$blue3: #A7DFF2;
$blue4: #F3FAFF;
$blue5: #728E9B;
$blue6: #004849;
$blue7: #d0dbe0;
$blue8: #1291c1;
$red1: #EF6162;
$red2: #D14A50;
$orange1: #E98A40;
$orange2: #D3702D;
$green1: #1EB475;
$green2: #3FAE2A;
$green3: #429929;
$rose1: #9E737D;
$rose2: #915D69;
$blue-grey1: #6B8791;
$blue-grey2: #B2C1C6;

/* Set FDS theme */

$primaryColor: $rose1; //$green2 or $blue5
$primaryColorHover: $rose2; //$green3 or $blue6
$secondaryColor: $rose1; //$green1 or $blue5
$accentColor: $blue7; //$orange1 or $blue7
$accentColorHover: $grey4; //$orange2 or $grey4
$warnColor: $red1;
$errorColor: $warnColor;
$warningColor: $accentColor;
$bodyTextColor: $grey1;
$pageHeaderTextColor: $grey1;
$subHeaderTextColor: $grey2;
$descriptionTextColor: $grey2;
$linkColor: $blue-grey1;
$linkColorDisabled: $grey1;

/*End Global Variables */
